<main class="main">
  <h2>Escolha a opção que deseja visualizar</h2>
  <section class="new__section">
    <div class="card">
      <div class="content">
        <img src="../../../assets/images/posts.png" alt="Posts">
        <a routerLink="posts">POSTS</a>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <img src="../../../assets/images/albuns.png" alt="albuns">
        <a routerLink="albums">ALBUMS</a>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <img src="../../../assets/images/toDo.png" alt="TO-DOs">
        <a routerLink="todos">TO-DOs</a>
      </div>
    </div>
  </section>
</main>
